<main class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <section class="container-fluid text-center bg-danger">
      <h1 id="title" class="display-3">Eat-Da-Burger</h1>
    </section>
  </div>
</main>